build/
bin/
lib/
out/
Debug/
Release/


*.exe
*.dll
*.lib
*.a
*.pdb
*.ilk
*.exp
*.obj
*.o


CMakeCache.txt
CMakeFiles/
cmake_install.cmake
*.cmake
Makefile


.vs/
.vscode/
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
*.suo
*.opensdf
*.sdf
*.cache
*.json


.DS_Store
Thumbs.db


git submodule add https://github.com/ocornut/imgui.git vendor/imgui
git submodule add https://github.com/mackron/miniaudio.git vendor/miniaudio